* {
  box-sizing: border-box;
  caret-color: transparent;
  scroll-behavior: smooth;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-color {
  background: linear-gradient(50deg, rgba(8,70,156,1) 0%, rgba(4,128,240,1) 51%, rgba(8,70,156,1) 100%);
}

.custom-toggler.navbar-toggler {
  border-color: #ffffff;
}

.custom-toggler.navbar-toggler {
  border-color: #ffffff;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:active {
  border: none;
  outline: none;
  box-shadow: none;
}

.navbar-toggler:focus {
  background-color: rgb(165, 165, 165);
  box-shadow: none;
}

.navbar-toggler {
  border: none;
}

.nav-link:hover {
  background-color: white !important;
  color: var(--bg-dark) !important;
}

.hero {
  background: linear-gradient(50deg, rgba(14,83,164,1) 0%, rgba(9,128,223,1) 32%, rgba(16,94,189,1) 66%, rgba(0,164,255,1) 100%);
}

.hero h1 {
  font-family: "Josefin Sans", serif;
}

.btn-primary {
  background-color: #1F509A;
  color: white;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #ddd;
  color: black;
}

#overview {
  margin-top: -50px;
  padding-top: 50px;
}

#overview .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 100px;
  gap: 10px;
}

.single-feature {
  flex: 1;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  background: rgb(27,99,170);
  background: linear-gradient(0deg, rgba(27,99,170,1) 0%, rgba(58,188,255,1) 100%);
  color: black;
  text-align: center;
  color: white;
  transition: transform 0.3s, box-shadow 0.3s;
}

.single-feature:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.single-feature img {
  /* filter: invert(1); */
  width: 75px;
  height: auto;
}

.single-feature h2 {
  font-size: 28px;
  padding-bottom: 10px;
}

.single-feature p {
  font-size: 22px;
  line-height: 28px;
}

.features-text {
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 4vw;
}

.product-demo {
  padding: 50px 100px;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(145,214,255,1) 50%, rgba(255,255,255,1) 100%);
}

  .product-demo .demo-functionality {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 90%;
    margin: 0px auto;
    padding-top: 70px;
    gap: 50px;
  }

  .product-demo .demo-functionality:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .product-demo .demo-functionality .description {
    flex: 1;
    max-width: 35%;
  }
  .product-demo .demo-functionality .demo-image {
    flex: 1;
    max-width: 65%;
  }

  .product-demo .demo-functionality .description h1 {
    font-size: 36px;
    padding-bottom: 10px;
  }

  .product-demo .demo-functionality .description p {
    font-size: 24px;
    line-height: 28px;
  }

  .product-demo .demo-functionality .description button {
    background-color: #1F509A;
    color: white;
    border: none;
    border-radius: 12px;
    margin-top: 15px;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
  }

  .product-demo .demo-functionality .description button:hover {
    background-color: #2966c3;
  }

  .product-demo .demo-functionality .demo-image img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
  }

#proof{
  margin-top: -100px;
  padding-top: 100px;
}

.social-proof {
  max-width: 100%;
}

  .social-proof .social-brief {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 80%;
    margin: 0px auto;
    align-items: center;
    gap: 50px;
  }

    .social-proof .social-brief .social-text h1 {
      font-size: 36px;
      padding-bottom: 10px;
    }

    .social-proof .social-brief .social-text p {
      font-size: 24px;
      padding-bottom: 10px;
    }

    .social-proof .social-brief .social-rank {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

      .social-proof .social-brief .social-rank .social-rank-item {
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
        width: 250px;
        border-radius: 10px;
        background-color: #0F67B1;
        margin: 10px 0;
        transform: translateX(0);
        transition: transform 0.3s, box-shadow 0.3s;
      }

        .social-proof .social-brief .social-rank .social-rank-item:nth-child(1) {
          transform: translateX(0vw);
        }

        .social-proof .social-brief .social-rank .social-rank-item:nth-child(2) {
          transform: translateX(1vw);
        }

        .social-proof .social-brief .social-rank .social-rank-item:nth-child(3) {
          transform: translateX(2vw);
        }
        
        .social-proof .social-brief .social-rank .social-rank-item:hover {
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }

          .social-proof .social-brief .social-rank .social-rank-item:nth-child(1):hover {
            transform: translateX(0vw) translateY(-10px);
          }

          .social-proof .social-brief .social-rank .social-rank-item:nth-child(2):hover {
            transform: translateX(1vw) translateY(-10px);
          }

          .social-proof .social-brief .social-rank .social-rank-item:nth-child(3):hover {
            transform: translateX(2vw) translateY(-10px);
          }

        .social-proof .social-brief .social-rank .social-rank-item p {
          font-size: 24px;
          margin-bottom: 5px;
          color: white;
        }

        .social-proof .social-brief .social-rank .social-rank-item span {
          font-size: 24px;
          color: gold;
        }

    .social-proof .social-proof-tesimonials {
      display: flex;
      flex-direction: row;
      justify-content: center;
      max-width: 80%;
      margin: 0 auto;
      gap: 20px;
    }
        
    .social-proof .social-proof-tesimonial {
      background: rgb(44,113,209);
      background: linear-gradient(90deg, rgba(44,113,209,1) 0%, rgba(76,166,249,1) 50%, rgba(99,156,235,1) 100%);
      max-width: 80%;
      width: 600px;
      border-radius: 15px;
      padding: 16px;
      margin: 16px 0;
    }
    
      .social-proof .social-proof-tesimonial .upper-proof {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 10px;
      }

      .social-proof .social-proof-tesimonial .upper-proof .upper-proof-text {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }

      .social-proof .social-proof-tesimonial img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
      }
      
      .social-proof .social-proof-tesimonial span {
        font-size: 24px;
      }

      .social-proof .social-proof-tesimonial p {
        font-size: 20px;
        font-style: italic;
      }

.contact {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(33,116,232);
  background: linear-gradient(0deg, rgba(33,116,232,1) 0%, rgba(71,147,255,1) 25%, rgba(95,161,255,1) 50%, rgba(154,196,255,1) 75%, rgba(255,255,255,1) 100%);
}

.contact .contact-form {
  background: #ffffff;
  padding: 40px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  border-radius: 15px;
}

  .contact .contact-form h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }

  .contact .contact-form p {
    font-size: 20px;
    color: #666;
    margin-bottom: 30px;
    text-align: center;
  }

  .contact .contact-form .fields div {
    margin-bottom: 20px;
  }

  .contact .contact-form .fields p {
    font-size: 18px;
    color: #444;
    margin-bottom: 8px;
  }

  .contact .contact-form .fields input[type="text"],
  .contact .contact-form .fields input[type="email"] {
    caret-color: #007bff;
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    transition: border-color 0.3s ease;
  }

  .contact .contact-form .fields input[type="text"]:focus,
  .contact .contact-form .fields input[type="email"]:focus {
    border-color: #007bff;
    outline: none;
  }

  .contact .contact-form .fields .checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .contact .contact-form .fields .checkbox input[type="checkbox"] {
    margin-right: 10px;
    accent-color: #007bff;
  }
  
  .contact .contact-form .fields .checkbox label p {
    font-size: 14px;
    color: #444;
    margin: 0;
  }
  
  .contact-form button {
    background-color: #1F509A;
    width: 100%;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .contact-form button:hover {
    background-color: #2966c3;
  }

  .contact-form button:active {
    background-color: #1F509A;
  }

  .mascot-doctor {
    position: fixed;
    bottom: 20px;
    right: 40px;
    width: 80px;
    height: auto;
    opacity: 0;
    animation: showMascot 1s ease-in-out 5s forwards, 
               jumpMascot 1.5s ease-in-out 6s infinite;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 1000;
  }

  @keyframes jumpMascot {
    0%, 100% { 
      transform: translateY(0); 
    }
    10% { 
      transform: translateY(-30px); 
    }
    20% { 
      transform: translateY(0); 
    }
    30% { 
      transform: translateY(-20px); 
    }
    40% { 
      transform: translateY(0); 
    }
    50% { 
      transform: translateY(-10px); 
    }
    60% { 
      transform: translateY(0); 
    }
  }

.mascot-doctor:hover {
    animation-play-state: paused;
    animation: showMascot 1s ease-in-out 5s forwards;
    transform: scale(1.1);
}

.mascot-doctor:hover::after {
  animation-play-state: running;
  animation: jumpMascot 1.5s ease-in-out 1s infinite;
}

.mascot-doctor:hover::before {
    content: "Click me!";
    position: absolute;
    bottom: calc(100% + 10px);
    left: 60%;
    transform: translateX(-50%);
    background: #fff;
    color: #333;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 14px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    white-space: nowrap;
}

.mascot-doctor img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #ddd;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

  @keyframes showMascot {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .mascot-doctor img {
    width: 100px;
    height: auto;
    border-radius: 50%;
  }

@media (max-width: 1024px) {
  .product-demo {
    padding: 20px 20px;
  }

  .product-demo .demo-functionality .description h1 {
    font-size: 28px;
    padding-bottom: 10px;
  }

  .product-demo .demo-functionality .description p {
    font-size: 24px;
    line-height: 28px;
  }
}

@media (max-width: 768px) {
  .hero-image {
    border-radius: 0 !important;
  }

  .features-text {
    display: flex;
    text-align: center;
  }
  
  .features-text h1 {
    align-content: center;
    font-size: 2rem;
  }

  #overview .row {
    flex-direction: column;
    padding: 1.5rem;
    gap: 20px;
  }

  #overview .row .single-feature {
    max-width: 100%;
  }

  .product-demo {
    padding: 0px 20px;
    text-align: center;
  }

  .product-demo .demo-functionality, .product-demo .demo-functionality:nth-of-type(even) {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    gap: 20px;
  }

  .product-demo .demo-functionality .description {
    max-width: 100%;
  }

  .product-demo .demo-functionality .demo-image {
    max-width: 100%;
  }

  .product-demo .demo-functionality .demo-image img {
    max-width: 100%;
  }

  .social-proof .social-brief {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 0px;
  }

    .social-proof .social-brief .social-rank .social-rank-item {
      display: flex;
      flex-direction: column;
      width: 100%;
      min-width: 200px;
      border: 1px solid black;
      border-radius: 10px;
      background-color: #0F67B1;
      margin: 10px 0;
    }

      .social-proof .social-brief .social-rank .social-rank-item:nth-child(1) {
        transform: translateX(3vw);
      }

      .social-proof .social-brief .social-rank .social-rank-item:nth-child(2) {
        transform: translateX(-5vw);
      }

      .social-proof .social-brief .social-rank .social-rank-item:nth-child(3) {
        transform: translateX(8vw);
      }

      .social-proof .social-brief .social-rank .social-rank-item:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }

        .social-proof .social-brief .social-rank .social-rank-item:nth-child(1):hover {
          transform: translateX(3vw) translateY(-10px);
        }

        .social-proof .social-brief .social-rank .social-rank-item:nth-child(2):hover {
          transform: translateX(-5vw) translateY(-10px);
        }

        .social-proof .social-brief .social-rank .social-rank-item:nth-child(3):hover {
          transform: translateX(8vw) translateY(-10px);
        }

      .social-proof .social-brief .social-rank .social-rank-item p {
        font-size: 20px;
        margin-bottom: 5px;
        color: white;
      }

      .social-proof .social-brief .social-rank .social-rank-item span {
        font-size:20px;
        color: gold;
      }

      .social-proof .social-proof-tesimonials {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        margin: 0 auto;
        gap: 0px;
      }
  .contact .contact-form h1 {
    font-size: 28px;
  }

  .contact .contact-form p {
    font-size: 20px;
  }

  .contact .contact-form .fields p {
    font-size: 18px;
  }

  .contact .contact-form .fields input[type="text"],
  .contact .contact-form .fields input[type="email"] {
    padding: 10px;
    font-size: 14px;
  }

  .contact .contact-form .fields checkbox label p {
    font-size: 18px;
  }

  .contact .contact-form button {
    font-size: 16px;
  }

  .mascot-doctor {
    width: 70px;
    bottom: 15px;
    right: 10px;
  }
    .mascot-doctor img {
      width: 100%;
      height: auto;
      border-radius: 50%;
      border: 2px solid #fff;
      background-color: #ddd;
      box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    }

    .mascot-doctor:hover::before {
        content: none;
        transform: translateX(-50%);
    }
}