* {
  box-sizing: border-box;
  caret-color: transparent;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.topnav {
  display: flex;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background: rgb(8,70,156);
  background: linear-gradient(50deg, rgba(8,70,156,1) 0%, rgba(4,128,240,1) 51%, rgba(8,70,156,1) 100%);
  padding: 0 20px;
  z-index: 1000;
  border-bottom: 2px solid #003366;
}

.topnav .logo {
  color: white;
  font-size: 20px;
  margin: 0;
  padding: 14px 16px;
  flex: 1;
}

.topnav .nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex: 1;
  justify-content: flex-end;
}

.topnav .nav-links li {
  margin: 0;
}

.topnav .nav-links button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}
.topnav .nav-links button:hover {
  background-color: #ddd;
  color: black;
}

.dropdown-toggle {
  display: none;
}

.dropdown-btn {
  display: none;
  background-color: #1F509A;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(14,83,164);
  background: linear-gradient(50deg, rgba(14,83,164,1) 0%, rgba(9,128,223,1) 32%, rgba(16,94,189,1) 66%, rgba(0,164,255,1) 100%);
  padding-top: 50px;
  gap: 50px;
}

.hero-text {
  flex: 1;
  padding: 50px 100px;
  max-width: 50%;
}

.hero h1 {
  font-size: 48px;
  font-family: "Josefin Sans", serif;
  margin: 0;
  color: white;
}

.hero p {
  font-size: 24px;
  margin: 20px 0;
  color: white;
}

.hero button {
  background-color: #1F509A;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.hero button:hover {
  background-color: #ddd;
  color: black;
}

.hero-image {
  flex: 1;
  max-width: 40%;
  margin: 15px 100px;
  display: flex;
  justify-content: flex-end;
}

.hero img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 100px;
  gap: 10px;
}

.single-feature {
  flex: 1;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  background: rgb(27,99,170);
  background: linear-gradient(0deg, rgba(27,99,170,1) 0%, rgba(58,188,255,1) 100%);
  color: black;
  text-align: center;
  color: white;
  transition: transform 0.3s, box-shadow 0.3s;
}

.single-feature:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.single-feature img {
  /* filter: invert(1); */
  width: 75px;
  height: auto;
}

.single-feature h2 {
  font-size: 28px;
  padding-bottom: 10px;
}

.single-feature p {
  font-size: 22px;
  line-height: 28px;
}

.features-text {
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 4vw;
}

.product-demo {
  padding: 50px 100px;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(145,214,255,1) 50%, rgba(255,255,255,1) 100%);
}

  .product-demo .demo-functionality {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 90%;
    margin: 0px auto;
    padding-top: 70px;
    gap: 50px;
  }

  .product-demo .demo-functionality:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .product-demo .demo-functionality .description {
    flex: 1;
    max-width: 35%;
  }
  .product-demo .demo-functionality .demo-image {
    flex: 1;
    max-width: 65%;
  }

  .product-demo .demo-functionality .description h1 {
    font-size: 36px;
    padding-bottom: 10px;
  }

  .product-demo .demo-functionality .description p {
    font-size: 24px;
    line-height: 28px;
  }

  .product-demo .demo-functionality .description button {
    background-color: #1F509A;
    color: white;
    border: none;
    border-radius: 12px;
    margin-top: 15px;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
  }

  .product-demo .demo-functionality .description button:hover {
    background-color: #2966c3;
  }

  .product-demo .demo-functionality .demo-image img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
  }

.social-proof {
  max-width: 100%;
}

  .social-proof .social-brief {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 80%;
    margin: 0px auto;
    align-items: center;
    gap: 50px;
  }

    .social-proof .social-brief .social-text h1 {
      font-size: 36px;
      padding-bottom: 10px;
    }

    .social-proof .social-brief .social-text p {
      font-size: 24px;
      padding-bottom: 10px;
    }

    .social-proof .social-brief .social-rank {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

      .social-proof .social-brief .social-rank .social-rank-item {
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
        width: 250px;
        border-radius: 10px;
        background-color: #0F67B1;
        margin: 10px 0;
        transform: translateX(0);
        transition: transform 0.3s, box-shadow 0.3s;
      }

        .social-proof .social-brief .social-rank .social-rank-item:nth-child(1) {
          transform: translateX(0vw);
        }

        .social-proof .social-brief .social-rank .social-rank-item:nth-child(2) {
          transform: translateX(1vw);
        }

        .social-proof .social-brief .social-rank .social-rank-item:nth-child(3) {
          transform: translateX(2vw);
        }
        
        .social-proof .social-brief .social-rank .social-rank-item:hover {
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }

          .social-proof .social-brief .social-rank .social-rank-item:nth-child(1):hover {
            transform: translateX(0vw) translateY(-10px);
          }

          .social-proof .social-brief .social-rank .social-rank-item:nth-child(2):hover {
            transform: translateX(1vw) translateY(-10px);
          }

          .social-proof .social-brief .social-rank .social-rank-item:nth-child(3):hover {
            transform: translateX(2vw) translateY(-10px);
          }

        .social-proof .social-brief .social-rank .social-rank-item p {
          font-size: 24px;
          margin-bottom: 5px;
          color: white;
        }

        .social-proof .social-brief .social-rank .social-rank-item span {
          font-size: 24px;
          color: gold;
        }

    .social-proof .social-proof-tesimonials {
      display: flex;
      flex-direction: row;
      justify-content: center;
      max-width: 80%;
      margin: 0 auto;
      gap: 20px;
    }
        
    .social-proof .social-proof-tesimonial {
      background: rgb(44,113,209);
      background: linear-gradient(90deg, rgba(44,113,209,1) 0%, rgba(76,166,249,1) 50%, rgba(99,156,235,1) 100%);
      max-width: 80%;
      width: 600px;
      border-radius: 15px;
      padding: 16px;
      margin: 16px 0;
    }
    
      .social-proof .social-proof-tesimonial .upper-proof {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 10px;
      }

      .social-proof .social-proof-tesimonial .upper-proof .upper-proof-text {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }

      .social-proof .social-proof-tesimonial img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
      }
      
      .social-proof .social-proof-tesimonial span {
        font-size: 24px;
      }

      .social-proof .social-proof-tesimonial p {
        font-size: 20px;
        font-style: italic;
      }

@media (max-width: 1024px) {
  .product-demo {
    padding: 20px 20px;
  }

  .product-demo .demo-functionality .description h1 {
    font-size: 28px;
    padding-bottom: 10px;
  }

  .product-demo .demo-functionality .description p {
    font-size: 24px;
    line-height: 28px;
  }
}

@media (max-width: 768px) {
  .topnav .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #003366;
    position: fixed;
    left: 0;
    top: 50px;
}

.topnav .nav-links button {
    width: 100%;
    background-color: #0F67B1;
    justify-items: end;
    position: relative;
    padding: 10px 0;
}

.topnav .nav-links button:not(:last-child)::after {
    content: '';
    display: block;
    width: 80%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    bottom: 0;
    left: 10%;
}

  .dropdown-btn {
    display: block;
  }

  .dropdown-toggle:checked ~ .nav-links {
    display: flex;
  }

  .hero {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .hero-text {
    max-width: 100%;
    padding: 30px 20px;
  }

  .hero h1 {
    font-size: 36px;
  }

  .hero p {
    font-size: 18px;
  }

  .hero-image {
    max-width: 100%;
    margin: 0;
    justify-content: center;
  }

  .hero img {
    max-width: 100%;
    border-radius: 0px;
  }

  .features-text {
    display: flex;
    text-align: center;
  }
  
  .features-text h1 {
    align-content: center;
    font-size: 2rem;
  }

  .row {
    flex-direction: column;
    padding: 1.5rem;
    gap: 20px;
  }

  .row .single-feature {
    max-width: 100%;
  }

  .product-demo {
    padding: 0px 20px;
    text-align: center;
  }

  .product-demo .demo-functionality, .product-demo .demo-functionality:nth-of-type(even) {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    gap: 20px;
  }

  .product-demo .demo-functionality .description {
    max-width: 100%;
  }

  .product-demo .demo-functionality .demo-image {
    max-width: 100%;
  }

  .product-demo .demo-functionality .demo-image img {
    max-width: 100%;
  }

  .social-proof .social-brief {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 0px;
  }

    .social-proof .social-brief .social-rank .social-rank-item {
      display: flex;
      flex-direction: column;
      width: 100%;
      min-width: 200px;
      border: 1px solid black;
      border-radius: 10px;
      background-color: #0F67B1;
      margin: 10px 0;
    }

      .social-proof .social-brief .social-rank .social-rank-item:nth-child(1) {
        transform: translateX(3vw);
      }

      .social-proof .social-brief .social-rank .social-rank-item:nth-child(2) {
        transform: translateX(-5vw);
      }

      .social-proof .social-brief .social-rank .social-rank-item:nth-child(3) {
        transform: translateX(8vw);
      }

      .social-proof .social-brief .social-rank .social-rank-item:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }

        .social-proof .social-brief .social-rank .social-rank-item:nth-child(1):hover {
          transform: translateX(3vw) translateY(-10px);
        }

        .social-proof .social-brief .social-rank .social-rank-item:nth-child(2):hover {
          transform: translateX(-5vw) translateY(-10px);
        }

        .social-proof .social-brief .social-rank .social-rank-item:nth-child(3):hover {
          transform: translateX(8vw) translateY(-10px);
        }

      .social-proof .social-brief .social-rank .social-rank-item p {
        font-size: 20px;
        margin-bottom: 5px;
        color: white;
      }

      .social-proof .social-brief .social-rank .social-rank-item span {
        font-size:20px;
        color: gold;
      }

      .social-proof .social-proof-tesimonials {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        margin: 0 auto;
        gap: 0px;
      }
}